.myName{
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

.title{
    font-size: xx-large;
    font-style: normal;
    text-transform: none;
    color: #7FD858;
}

.projectsBtn{

    border: 1px solid #7FD858;
    border-radius: 5px;
    padding: 12px;
    padding-left:15px;
    padding-right:15px;
    color:#7FD858;
    background: transparent;
    font-size: medium;
    cursor: pointer;
    text-decoration: none;
}

.projectsBtn:hover{

    background: #7FD858;
    color:white;
}

.BasicInfo{
    width: 50%;
    margin:10px;
    margin-left:0px;
    color:white;
    opacity:0.5; 
    text-align:justify;
}

/* Mobile Screen */
@media only screen and (max-width: 768px) {

    .BasicInfo{
        width: 100%;
    }

    .noMob{
        display: none;
    }
}